@model ForgotPasswordViewModel

@{
    ViewData["Title"] = LocalizerGeneral["Esqueci minha senha"];
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="section-conten padding-y container" style="min-height:35vh">
    <div class="login-box">
        <vc:summary-info></vc:summary-info>
        <div class="card card-outline card-primary">
            <div class="card-body">
                <h4 class="card-title mb-4">@LocalizerGeneral["Você esqueceu sua senha?"]</h4>
                <form asp-action="ForgotPassword" method="post">

                    <div class="form-group mb-4">
                        <input asp-for="Email" class="form-control" placeholder="E-mail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button id="btn-submit" type="submit" class="btn btn-primary btn-block">@LocalizerGeneral["Recuperar senha"]</button>
                    </div>

                </form>
                <p class="mb-1">
                    <a asp-controller="Account" asp-action="Login">@LocalizerGeneral["Voltar para o"] Login</a>
                </p>
                @using (Html.BeginForm("SetLanguage", "Home", FormMethod.Post))
                {
                    <div class="d-flex justify-content-center">
                        @{
                            var requestCulture = Context.Features.Get<IRequestCultureFeature>();
                            var cultureItems = LocOptions.Value.SupportedUICultures
                                .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
                                .ToList();
                        }

                        @for (int i = 0; i < cultureItems.Count(); i++)
                        {
                            <div class="col-sm-2">
                                @{var Language = @cultureItems[i].Value.Substring((@cultureItems[i].Value.Length - 2), 2).ToLower();}
                                <button class="btn rounded-0 dropdown-item" style="background-color:transparent" asp-route-culture="@cultureItems[i].Value" asp-route-returnUrl="@Context.Request.Path" asp-controller="Home" asp-action="SetLanguage">
                                    <i class="flag-icon flag-icon-@Language mr-2"></i>
                                </button>
                            </div>
                        }
                    </div>
                }


            </div>
        </div>
        <!-- /.card-body -->
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}