@model ResetPasswordViewModel

@{
    ViewData["Title"] = LocalizerGeneral["Redefinir senha"];
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="section-conten padding-y container" style="min-height:35vh">
    <div class="login-box">
        <vc:summary></vc:summary>
        <div class="card card-outline card-primary">
            <div class="card-body">

                <form asp-action="ResetPassword" method="post">
                    <input asp-for="Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">@LocalizerGeneral["Redefinir"]</button>
                    </div>
                </form>
                @*@using (Html.BeginForm("SetLanguage", "Home", FormMethod.Post))
                {
                    <div class="d-flex justify-content-center">
                        @{
                            var requestCulture = Context.Features.Get<IRequestCultureFeature>();
                            var cultureItems = LocOptions.Value.SupportedUICultures
                                .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
                                .ToList();
                        }

                        @for (int i = 0; i < cultureItems.Count(); i++)
                        {
                            <div class="col-sm-2">
                                @{var Language = @cultureItems[i].Value.Substring((@cultureItems[i].Value.Length - 2), 2).ToLower();}
                                <button class="btn rounded-0 dropdown-item" style="background-color:transparent" asp-route-culture="@cultureItems[i].Value" asp-route-returnUrl="@Context.Request.Path" asp-controller="Home" asp-action="SetLanguage">
                                    <i class="flag-icon flag-icon-@Language mr-2"></i>
                                </button>
                            </div>
                        }
                    </div>
                }*@
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}